.login-search-input {
  color: #000000;
  font-weight: 600;
  text-align: center;
  width: 180px;
  height: 28px;
  left: 50%;
  transform: translateX(-64%);
  position: fixed;
  top: 130px;
  z-index: 5;
  font-size: 14px;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 3px #00000088;
  background-color: #ffffff88;
  padding: 0;
}

.login-btn-1 {
  position: fixed;
  width: 90px;
  top: 440px;
  z-index: 5;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 3px #00000088;
  padding: 10px 10px;
  background-color: #000000;
  color: #ffffff;
}

.login-btn-1:hover {
  cursor: pointer;
}

.login-btn-2 {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 130px;
  left: 50%;
  transform: translateX(180%);
  z-index: 5;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 3px #00000088;
  padding: 10px 10px;
  background-color: #000000;
  color: #ffffff;
}

.login-btn-2:hover {
  cursor: pointer;
}
.login-map-container {
  position: fixed;
  z-index: 5;
  top: 90px;
}
