.map-container {
  max-width: 480px;
  width: 100vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 5;
  top: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.map-display {
  max-width: 480px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  z-index: 5;
  margin-top: 410px;
  position: relative;
  padding-bottom: 80vh;
}

.btn-1 {
  position: fixed;
  width: 90px;
  top: 320px;
  z-index: 99;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 3px #00000088;
  padding: 10px 10px;
  background-color: #000000;
  color: #ffffff;
}

.btn-1:hover {
  cursor: pointer;
}

.btn-2 {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(180%);
  z-index: 99;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 3px #00000088;
  padding: 10px 10px;
  background-color: #000000;
  color: #ffffff;
}

.btn-2:hover {
  cursor: pointer;
}

.search-input {
  color: #000000;
  font-weight: 600;
  text-align: center;
  width: 180px;
  height: 28px;
  left: 50%;
  transform: translateX(-64%);
  position: fixed;
  top: 86px;
  z-index: 99;
  font-size: 14px;
  border: 0;
  border-radius: 12px;
  box-shadow: 0 0 3px #00000088;
  background-color: #ffffff88;
  padding: 0;
}
