.map-container {
  max-width: 480px;
  width: 100vw;
  height: 350px;
  margin: 10px 0;
}

.map-display {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20vh;
  z-index: 5;
}

.create-marker-form {
  position: relative;
  top: 450px;
  bottom: 200px;
  z-index: 4;
  max-width: 460px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-bottom: 20vh;
}

.create-marker-form input {
  max-width: 460px;
  margin: 7px;
  width: 90vw;
}

.marker-info {
  max-width: 460px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  z-index: 6;
  position: fixed;
  height: 100vh;
  top: 58vh;
}

.marker-info button {
  box-shadow: 0 0 3px #00000055;
  border: 0;
  border-radius: 17px;
  margin-top: 10px;
  font-size: 20px;
  padding: 7px 13px;
  background-color: #ffffff;
}

.react-calendar {
  margin: 19px 0;
  border: 0;
  max-width: 460px;
  width: 90vw;
  padding-bottom: 40px;
  border-bottom: 0.5px solid #00000022;
}

.react-calendar__navigation button {
  background-color: #ffffff;
  border: 0;
  font-size: 18px;
}

.react-calendar__navigation__label span {
  font-size: 23px;
}

.react-calendar__month-view__weekdays {
  padding: 15px 0;
  border-bottom: 1px solid #00000022;
}

abbr {
  text-decoration: none;
  font-size: 18px;
}

.react-calendar__tile {
  background-color: #ffffff;
  padding: 9px 0;
  border: #ffffff;
  color: #00000077;
}

.react-calendar__tile abbr {
  font-size: 17px;
}

.react-calendar__tile--active {
  background-color: #1ba136;
  border-radius: 12px;
  box-shadow: 0 0 2px #00000022;
  color: #ffffff;
  z-index: 99;
}

.time-box {
  max-width: 460px;
  width: 95vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  padding-bottom: 40px;
  border-bottom: 0.5px solid #00000022;
}

.times {
  cursor: pointer;
  width: 23%;
  height: 55px;
  border: 0.5px solid #00000022;
  box-shadow: 0 0 1px #00000022;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 20px 8px;
  margin: 5px 3px;
  font-size: 16px;
  color: #00000099;
}

.selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1ba136;
  color: #ffffff;
  font-size: 20px;
}

.selected p {
  margin: 0;
  margin-top: 5px;
  font-size: 12px;
}

.title-box {
  margin: 20px 0;
}

.title-box label {
  font-size: 23px;
}

.title-box input {
  border-radius: 12px;
  border: 0.5px solid #00000022;
  background-color: #8b8b8b19;
  box-shadow: 0 0 1px #00000022;
  font-size: 25px;
}

.detail-box {
  margin: 20px 0;
}

.detail-box label {
  font-size: 23px;
}

.detail-box input {
  border-radius: 12px;
  border: 0.5px solid #00000022;
  background-color: #8b8b8b19;
  box-shadow: 0 0 1px #00000022;
  font-size: 25px;
}

.submit {
  font-size: 24px;
  border-radius: 14px;
  padding: 8px 15px;
  background-color: #1ba136;
  border: 0;
  color: #ffffff;
  box-shadow: 0 0 2px #00000033;
}

.toggle-am {
  border: 0;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 22px;
  padding: 12px;
  color: #000000e1;
}

.existing {
  background-color: #00000033;
  pointer-events: none;
  color: #00000077;
}

.login-date {
  z-index: 5;
  position: fixed;
  top: 50px;
}
