.kr-default-layout {
  width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
}

.korea-navbar {
  width: 480px;
  display: flex;
  justify-content: center;
  border: 3px solid red;
  position: absolute;
  bottom: 0;
}
