.mypage-defauly-layout {
  z-index: 5;
  /* position: fixed; */
  max-width: 480px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 70px;
  align-items: center;
  box-shadow: 0 0 20px #00000033;
  background-color: #ffffff;
}

.mypage-defauly-layout .title {
  display: flex;
  max-width: 460px;
  width: 90vw;
  margin-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.mypage-defauly-layout .title .goback {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.mypage-defauly-layout .title > h2 {
  font-size: 30px;
  font-weight: 500;
}

.mypage-information-form {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 90vw;
  max-width: 460px;
  color: #000000dd;
  padding-bottom: 140px;
}

.mypage-information-form div {
  margin-top: 10px;
}

.mypage-information-form input {
  margin-top: 5px;
  line-height: 36px;
  font-size: 14px;
  width: 90vw;
  max-width: 460px;
  color: black;
  border: 1px solid #cecaca;
  border-radius: 12px;
  margin-bottom: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.mypage-information-form input:focus {
  border-color: #007bff;
}

.profile-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 460px;
  width: 90vw;
  color: #000000dd;
  margin-bottom: 32px;
}

.mypage-information-form button {
  cursor: pointer;
  max-width: 460px;
  width: 90vw;
  height: 40px;
  background-color: black;
  border: 0;
  color: white;
  border-radius: 12px;
  margin-bottom: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 3px #00000088;
  bottom: 0;
  font-size: 17px;
}

.mypage-delete-div {
  max-width: 460px;
  width: 90vw;
  height: 40px;
  background-color: rgb(168, 14, 14);
  border: 0;
  color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
  box-shadow: 0 0 3px #00000088;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.mypage-delete-div:hover {
  cursor: pointer;
}

.mismatch {
  color: rgba(207, 0, 0, 0.566);
  font-size: 12px;
}

.inquiry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 460px;
  width: 90vw;
  height: 80px;
  margin-bottom: 15px;
}

.inquiry h3 {
  font-size: 12px;
  color: #0000009b;
}

.inquiry-h2 {
  font-size: 16px;
  color: #000000c4;
}

.inquiry img {
  width: 7rem;
}

.github {
  color: #00000077;
}

.mypage-information-form .github-input {
  background-color: #00000022;
  pointer-events: none;
  color: #00000055;
}
