.home-outer-div {
  max-width: 480px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 20px #00000033;
}

@keyframes krFadeIn {
  0% {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
  }
}

.korea-tab-div {
  flex: 1;
  box-sizing: border-box;
  max-width: 480px;
  width: 100vw;
  background-image: url('/assets/bukchon.jpg');
  background-position: center center;
  background-size: cover;
  animation: krFadeIn 0.8s ease-out forwards;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.korea-tab-div:hover {
  box-shadow: 10px 10px 10px #edd3e4;
}

.korea-tab-div:active {
  box-shadow: 5px 5px 5px #edd3e4;
}

.korea {
  font-family: 'LOTTERIACHAB';
  font-size: 3rem;
  color: #165d23;
  text-shadow: 3px 3px #d6d6d6, 6px 6px #323232;
  font-weight: 100;
}

@keyframes jpFadeIn {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
  }
}

.japan-tab-div {
  flex: 1;
  box-sizing: border-box;
  max-width: 480px;
  width: 100vw;
  background-image: url('/assets/shirakawa.jpg');
  background-position: center center;
  background-size: cover;
  animation: jpFadeIn 0.8s ease-out forwards;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.japan-tab-div:hover {
  box-shadow: 10px 10px 10px #818589;
}

.japan-tab-div:active {
  box-shadow: 5px 5px 5px #818589;
}

.japan {
  font-family: 'LOTTERIACHAB';
  font-size: 3rem;
  color: #760707;
  text-shadow: 3px 3px #d6d6d6, 6px 6px #323232;
  font-weight: 100;
}

a {
  text-decoration-line: none;
}

.project-name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: 'LOTTERIACHAB';
  font-size: 5rem;
  color: #363636;
  animation: mainFadeIn 1.2s ease-in-out forwards;
  background-color: #ffffff;
  max-width: 460px;
  width: 90vw;
  text-align: center;
  border-radius: 3.7rem;
  z-index: 99;
  text-shadow: 3px 3px #d6d6d6, 6px 6px #323232;
  padding-bottom: 7px;
  box-shadow: 0 0 3px #00000088;
}

@keyframes mainFadeIn {
  0% {
    font-size: 0;
    opacity: 0;
    width: 0;
  }
  60% {
    font-size: 0;
    opacity: 0;
    width: 0;
  }
}

.opening {
  position: absolute;
  max-width: 480px;
  width: 100vw;
  animation: openFadeIn 1.5s ease-in-out forwards;
  z-index: 10;
  /* 해당 요소에 대한 포인터 이벤트를 해제함. 이미지 영역이 한국 탭, 일본 탭과 겹치는 문제 해결 */
  pointer-events: none;
}

@keyframes openFadeIn {
  0% {
    width: 0;
  }
  60% {
    width: 0;
  }
}
