.jp-default-layout {
  width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
}

.japan-footer {
  width: 480px;
  /* display: flex; */
  /* justify-content: center; */
  border: 3px solid red;
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
}

.japan-navbar {
  display: flex;
  justify-content: space-around;
}

.exchange-outer-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.real-exchangeRate {
  position: relative;
  bottom: 250px;
  padding: 150px;
  margin: 150px;
  border: 1px solid black;
}

.real-exchangeRate:hover {
  cursor: pointer;
}
