.exchange-outer-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.japan-navbar {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.real-exchangeRate {
  position: relative;
  bottom: 250px;
  padding: 150px;
  margin: 150px;
  border: 1px solid black;
}

.real-exchangeRate:hover {
  cursor: pointer;
}
