.jp-default-layout {
  width: 480px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
}

.japan-footer {
  width: 480px;
  /* display: flex; */
  /* justify-content: center; */
  border: 3px solid red;
  position: absolute;
  bottom: 0;
  padding: 20px 0px;
}

.japan-navbar {
  display: flex;
  justify-content: space-around;
}

.japan-weather-hourly {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  border: 2px solid red;
  width: 400px;
  height: 100px;
  text-align: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.japan-weather-hourly div {
  flex: 0 0 auto;
  margin: 10px;
}

.japan-weather-hourly p {
  margin: 5px;
}

.japan-weather-hourly-icon {
  width: 42px;
  height: 42px;
}

.exchange-outer-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.real-exchangeRate {
  position: relative;
  bottom: 250px;
  padding: 150px;
  margin: 150px;
  border: 1px solid black;
}

.real-exchangeRate:hover {
  cursor: pointer;
}
