.japan-footer {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  height: 68px;
  z-index: 99;
  background-color: #ffffff;
  box-shadow: 0 0 3px #00000033;
}

.japan-navbar {
  max-width: 480px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: 48px;
}

.japan-navbar a {
  text-align: center;
}

.japan-navbar img {
  width: 28px;
}

.japan-navbar a:active {
  filter: invert(50%);
}
