.login-page-outer-div {
  background-color: #ffffff;
  max-width: 480px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.login-header {
  width: 100%;
  max-width: 480px;
  height: 70px;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 99;
  justify-content: space-around;
  align-items: center;
}

.login-header h2 {
  font-family: 'LOTTERIACHAB';
  font-weight: 300;
  font-size: 30px;
  color: #363636;
  text-shadow: 1px 1px #d6d6d6, 3px 3px #323232;
  margin-right: 35%;
}

.login-header button {
  color: #cdcdcd;
  border: 1px solid #000000;
  box-shadow: 0 0 3px #00000055;
  background-color: #000000;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
}

.login-header a:visited {
  color: #cdcdcd;
}

.login-form {
  width: 100vw;
  height: 35vh;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  margin-top: 20px;
}

.__or__ {
  color: #aaa;
  display: flex;
  align-items: center;
  gap: 10px;
  grid-gap: 10px;
  margin: 4vh 0;
}

.__or__:before,
.__or__:after {
  height: 1px;
  background: #e8e8e8;
  flex: 1;
  content: '';
}

.github-img {
  width: 45px;
  height: 45px;
}

.github-login-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-login-div:hover {
  cursor: pointer;
}

.email-input {
  line-height: 40px;
  width: 90vw;
  max-width: 460px;
  color: black;
  font-size: 20px;
  border: 1px solid #cecaca;
}

.email-input:focus {
  border-color: #007bff; /* 포커스 시 테두리 색상 변경 */
}

.password-input {
  line-height: 40px;
  width: 90vw;
  max-width: 460px;
  color: black;
  font-size: 20px;
  border: 1px solid #cecaca;
}

.password-input:focus {
  border-color: #007bff;
}

.submit-button {
  width: 90vw;
  max-width: 460px;
  height: 42px;
  background-color: black;
  color: white;
}

.submit-button:hover {
  cursor: pointer;
}
