body {
  margin: 0;
}

/* css #root의 css값 수정했습니다! 모바일 화면 최적화 */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
}
