body {
  margin: 0;
  overflow: hidden;
}

/* css #root의 css값 수정했습니다! 모바일 화면 최적화 */
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

/* 아래의 두 설정은 scroll-box 라는 클래스를 가진 요소들에게 스크롤은 되지만, 스크롤 바는 없애는 설정이다 */
.scroll-box {
  -ms-overflow-style: none;
}

.scroll-box::-webkit-scrollbar{
  display:none;
}